<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
		<title>历史记录</title>
		<link rel="stylesheet" href="../../css/fre_color.css" />
		<link rel="stylesheet" href="../../css/amazeui.flat.css" />
		<link rel="stylesheet" href="../../css/zjw.css" />
		<script type="text/javascript" src="../../js/jquery.js" ></script>
		<script type="text/javascript" src="../../js/amazeui.js" ></script>
	</head>
	<body class="fre_bg1">
		<div class="fre_w1 fre_fl" style="margin-bottom: 8rem;">
			<!--
            	作者：787711932@qq.com
            	时间：2016-09-08
            	描述：返回
            -->
            <div class="thene_bg his_bc10 fre_co1 fre_po1">
            	<img class="fre_po2 fan" src="../../img/personal/history/zr_01.png" style="height: 51%;top:25%;left: 5%;" />
            	<span class="his_bc11">历史记录</span>
            </div>
			<!--
	        	作者：787711932@qq.com
	        	时间：2016-09-07
	        	描述：用户信息
	        -->
	        <div class="fre_w1 per_top">
				<table class="fre_w1 theme_co">
					<tr>
						<td class="fre_tc">
							<img class="fre_w05" src="../../img/personal/my_personal_18.png" />
						</td>
						<td>用户136xxxx6666</td>
						<td>试用版</td>
						<td>剩余0天</td>
					</tr>
				</table>        	
	        </div>
	        <!--
            	作者：787711932@qq.com
            	时间：2016-09-08
            	描述：记录
            -->
	        <div class="fre_w1 fre_fl">
	        	<div class="fre_w1 fre_fl onereco his_bc7 theme_bo">
	        		<div class="fre_fl his_l">
	        			<input type="checkbox" style="display: none;" />
	        			<img class="his_gou" src="../../img/personal/history/his_02.png" />
	        		</div>
	        		<div class="fre_fl his_r theme_co">
	        			<div class="fre_w1 fre_fs5 his_bc3">
	        				<span class="fre_dis his_bc">文章链接：www.baidu.com</span>
	        				<span class="fre_dis his_bc1 fre_tc">编辑</span>
	        				<span class="fre_dis his_bc1 fre_tc">删除</span>
	        			</div>
	        			<div class="fre_w1 fre_bor his_bc2 fre_fl">
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">1</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">2</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">3</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">3</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        		
	        	</div>
	        	
	        	<div class="fre_w1 fre_fl onereco">
	        		<div class="fre_fl his_l">
	        			<input type="checkbox" style="display: none;" />
	        			<img class="his_gou" src="../../img/personal/history/his_02.png" />
	        		</div>
	        		<div class="fre_fl his_r theme_co">
	        			<div class="fre_w1 fre_fs5 his_bc3">
	        				<span class="fre_dis his_bc">文章链接：www.baidu.com</span>
	        				<span class="fre_dis his_bc1 fre_tc">编辑</span>
	        				<span class="fre_dis his_bc1 fre_tc">删除</span>
	        			</div>
	        			<div class="fre_w1 fre_bor his_bc2 fre_fl">
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">1</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">2</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">3</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        				<div class="fre_w1 fre_fl his_bc3">
	        					<div class="fre_fl his_bc4">
	        						<span class="his_bc5">3</span>
	        					</div>
	        					<div class="fre_fl his_bc6">
	        						<img class="his_bc6" src="../../img/personal/history/his_03.png" />
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        		
	        	</div>
	        	<div class="fre_w1 fre_tc theme_co his_bc8">更多</div>
	        	
	        	<div class="his_bc9 fre_tc theme_co his_bc8">执行注入</div>
	        </div>
        </div>
		<!--
        	作者：787711932@qq.com
        	时间：2016-09-07
        	描述：尾部导航
        -->
		<div class="fre_w1 fre_foo fre_bg2">
			<div class="fre_w03-3 fre_fl fre_fo_meu fre_tc inject">
				<span>
					<img src="../../img/personal/my_personal_24.png" />
				</span><br/>
				<span class="theme_co fre_fs4">广告注入</span>
			</div>
			<div class="fre_w03-3 fre_fl fre_fo_meu fre_tc wgmember">
				<span>
					<img src="../../img/personal/my_personal_21.png" style="width: 19%" />
				</span><br/>
				<span class="theme_co fre_fs4">微广会员</span>
			</div>
			<div class="fre_w03-3 fre_fl fre_fo_meu fre_tc personal">
				<span>
					<img src="../../img/personal/my_personal_18.png" style="width: 16%" />
				</span><br/>
				<span class="theme_co fre_fs4">我的中心</span>
			</div>
		</div>
	</body>
	<script>
		$(function(){
			//我的中心
			$('.personal').on('click',function(){
				  window.location.href="../../personal/personal.html"; 
			})
			//广告注入
			$('.inject').on('click',function(){
				  window.location.href="../../inject/inject_AD.html"; 
			});
			//微广会员
			$('.wgmember').on('click',function(){
				  window.location.href="../../pay/member_pay.html"; 
			});
			window.setInterval(function(){
				var hi = $('.onereco').height();
				$('.his_l').css('height',hi+'px');
				$('.his_l img').css('margin-top',(hi*0.52)+'px');
			},100);
			
			//选择
			$('.his_gou').on('click',function(){
				var sta = $(this).prev().prop("checked");
				if(sta){
					$(this).prev().prop("checked",false);
					$(this).attr("src","../../img/personal/history/his_02.png");
				}else{
					$(this).prev().prop("checked",true);
					$(this).attr("src","../../img/personal/history/his_01.png");
				}
			});
			//返回
			$('.fan').on('click',function(){
				window.location=document.referrer;
			});
		})
	</script>
</html>
