<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
		<title>注入编辑</title>
		<link rel="stylesheet" href="../css/fre_color.css" />
		<link rel="stylesheet" href="../css/amazeui.flat.css" />
		<link rel="stylesheet" href="../css/zjw.css" />
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/amazeui.js" ></script>
		<style>
			.onas td{
			    padding: 2% 0;
			}
			.his_bc6 {
			    width: 82%;
			}
			.his_bc4 {
			    width: 18%;
			}
		</style>
	</head>
	<body class="fre_bg1" style="float: left;">
		<!--
        	作者：787711932@qq.com
        	时间：2016-09-08
        	描述：返回
        -->
        <div class="thene_bg his_bc10 fre_co1 fre_po1 fre_tc">
        	<img src="../img/personal/history/zr_01.png" class="fre_po2 his_bc12 fan" />
        	<span class="fre_fs7">朋友圈广告注入</span>
        	<span class="fre_po2 his_bc13 history">历史记录</span>
        </div>
        <!--
        	作者：787711932@qq.com
        	时间：2016-09-07
        	描述：用户信息
        -->
        <div class="fre_w1 per_top">
			<table class="fre_w1 theme_co">
				<tr>
					<td class="fre_tc">
						<img class="fre_w05" src="../img/personal/my_personal_18.png" />
					</td>
					<td>用户136xxxx6666</td>
					<td>普通版</td>
					<td>剩余29天</td>
				</tr>
			</table>        	
        </div>
        <div class="fre_w1 onas his_bc14">
        	<table class="fre_w1">
        		<tr>
        			<td class="fre_tc his_bc15 his_bc16">
        				文章地址
        			</td>
        			<td class="his_bc16">
        				<select class="his_bc17">
        					<option>选择</option>
        				</select>
        			</td>
        		</tr>
        		<tr>
        			<td class="his_bc15 fre_tc">
        				文章类型
        			</td>
        			<td>
        				<select class="his_bc17">
        					<option>选择</option>
        					<option>财经</option>
        					<option>娱乐</option>
        					<option>体育</option>
        					<option>时尚</option>
        					<option>汽车</option>
        					<option>房产</option>
        					<option>社会</option>
        					<option>军事</option>
        					<option>其它</option>
        				</select>
        			</td>
        		</tr>
        		<tr>
        			<td class="fre_tc his_bc15">
        				跳转链接
        			</td>
        			<td>
        				<select class="his_bc17">
        					<option>选择</option>
        				</select>
        			</td>
        		</tr>
        		<tr>
        			<td class="fre_tc his_bc15">
        				上传图片
        			</td>
        			<td>
        				<div class="fre_tc fre_bor his_bc18">
        					<img src="../img/inject/inj_03.png" style="width: 10%;" />
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td class="fre_tc his_bc15">
        			</td>
        			<td>
        				<span class="fre_fs5">图片规格：长*宽  1080*170</span>
        			</td>
        		</tr>
        	</table>
        </div>
        <div class="his_bc9 fre_tc theme_co his_bc8">生成</div>
        
        <div class="fre_fl his_bc19">
	        <div class="fre_w1 fre_bor his_bc2 fre_fl theme_bo">
				<div class="fre_w1 fre_fl his_bc3">
					<div class="fre_fl his_bc4">
						<span class="his_bc5">1</span>
					</div>
					<div class="fre_fl his_bc6 fre_po1">
						<img class="his_bc6" src="../img/personal/history/his_03.png" />
						<img class="fre_po2 his_bc20" src="../img/inject/inj.png" />
					</div>
				</div>
				<div class="fre_w1 fre_fl his_bc3">
					<div class="fre_fl his_bc4">
						<span class="his_bc5">1</span>
					</div>
					<div class="fre_fl his_bc6 fre_po1">
						<img class="his_bc6" src="../img/personal/history/his_03.png" />
						<img class="fre_po2 his_bc20" src="../img/inject/inj.png" />
					</div>
				</div>
				<div class="fre_w1 fre_fl his_bc3">
					<div class="fre_fl his_bc4">
						<span class="his_bc5">1</span>
					</div>
					<div class="fre_fl his_bc6 fre_po1">
						<img class="his_bc6" src="../img/personal/history/his_03.png" />
						<img class="fre_po2 his_bc20" src="../img/inject/inj.png" />
					</div>
				</div>
				<div class="fre_w1 fre_fl his_bc3">
					<div class="fre_fl his_bc4">
						<span class="his_bc5">1</span>
					</div>
					<div class="fre_fl his_bc6 fre_po1">
						<img class="his_bc6" src="../img/personal/history/his_03.png" />
						<img class="fre_po2 his_bc20" src="../img/inject/inj.png" />
					</div>
				</div>
			</div>
        </div>
        <div class="his_bc9 fre_tc theme_co his_bc8 his_bc24 zxinject">执行注入</div>
        
        <!--
        	作者：787711932@qq.com
        	时间：2016-09-08
        	描述：加载状态
        -->
        <div class="his_bc23">
        	<div class="his_bc22"></div>
        	<div class="his_bc21">
				<i class="am-icon-spinner am-icon-pulse" style="color: #fff;font-size: 30px;"></i><br/>
				<span class="fre_co1 fre_fs3">正在加载中..</span>
        	</div>
		</div>
	</body>
	<script>
		$(function(){
			//执行注入
			$('.zxinject').on('click',function(){
				$('.his_bc23').css('display','block')
			});
			//返回
			$('.fan').on('click',function(){
				window.location=document.referrer;
			});
			//历史记录
			$('.history').on('click',function(){
				 window.location.href="../personal/history/history.html"; 
			});
		})
	</script>
</html>
