<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=yes">
<title>余额提现</title>
<link href="css/css.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/yly_zjw.css" />

</head>

<body class="yly_bg_color1">

 <div class="yly_tixian">
 	
 	<div class="blue_xian">
 		<div class="blue_xian1"></div>
 	</div>
 	
 	<div class="usereco">
 		<div class="usereco_zt">
 			<div class="usereco_zt_top">
 				<div class="reco_zt_top_l">
 					<img src="images/bao.png" height="60%" style="margin-top: 0.6rem;"/>
 				</div>
 				<div class="reco_zt_top_r yly_font_size2">
 					账户余额
 				</div>
 			</div>
 			
 			<div class="usereco_zt_con yly_font_size15">
 				<div class="yly_float1 yl_bc39">￥</div>
 				<div class="yly_float1">0.00</div>
 			</div>
 			
 			<div class="usereco_zt_bot">
 				<div class="yly_float1">可用余额：</div>
 				<div class="yly_float1 yl_bc39">￥</div>
 				<div class="yly_float1">0.00</div>
 				<div class="yly_float1">&nbsp;&nbsp;提现处理中：</div>
 				<div class="yly_float1 yl_bc39">￥</div>
 				<div class="yly_float1">0.00</div>
 			</div>
 			
 		</div>
 	</div>
 	
 	<div class="tixian_pr">
 		<div class="tixian_pr_zt">
 			<div class="tixian_pr_zt_top">
 				<div class="pr_zt_top">
 					<div class="usereco_zt_top">
		 				<div class="reco_zt_top_l">
		 					<img src="images/yue.png" height="60%" style="margin-top: 0.6rem;"/>
		 				</div>
		 				<div class="reco_zt_top_r yly_font_size2 yly_color1">
		 					余额提现
		 				</div>
		 			</div>
 				</div>
 				
				<input class="pr_zt_bot" type="text" value="" />
				
 			</div>
 			<div class="pr_zt_bot_bo yl_bc41 yly_font_size2 indexan">提现</div>
 			<div class="pr_zt_bot_bo yl_bc42 yly_font_size2">提现记录</div>
 			
 		</div>
 	</div>
 	
 	<div class="jiange"></div>
 	<div class="tousu">
 		<span>1.提现审核后，资金直接打入您的支付宝、微信钱包;</span><br />
 		<span>2.根据微信支付要求,单次提现金额最低为1元。</span><br />
 		<span>&nbsp;&nbsp;TT在线投诉</span><br />
 	</div>
 	
 </div>
 
</body>
</html>
